*{
    margin: 0;
    padding: 0; 
}

html, body{
    height: 100%;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(163,163,163,1) 2%, rgba(85,85,85,1) 100%);
}

.Avatar {
    width: 130px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0px 0px 20px black;
}

.Dpsfoto{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.profile{
    text-align: center;
}

h2{
    font-size: 20px;
    margin-top: 1px;
}

h1{
    margin-bottom: 1px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img{
    width: 30px;
}

.Links-List{
    list-style: none;
}

.Links-List li {
    margin: 10px 20px;  
}

.Links-List li a {
    color: black;
    background-color: aliceblue;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(163,163,163,1) 2%, rgba(85,85,85,1) 100%);
    font-weight: 600;
    border-radius: 100px;   
}

.Links-List li a span{
    color: gray;
    display: block;
}
